
#nome{
    font-size: 20px;
}

#desing{
    font-size: 16px;
}

.hdetalhes{
    font-size: 15px;
}

.footer-container{
    flex-wrap: wrap;
    align-items: center;
}

figure{
    flex: 100%;
    max-width: 100%;
}

.imagem{
    max-width: 100%;
}

.titulo{
    font-size: 15px;
  }
  
.header-footer h2{
    text-align: center;
}